@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Welcome";
}

<h1>Welcome to the Assignment 2</h1>
<p>
    Hi! Welcome to our assignment 2 project. <br /> our team is made up of <b>Marcos Astudillo and David Burchat.  </b> <br /> If you have any feedback or comments about the assignments or course, feel free to share.
</p>

